.X {
    color: red;
    font: bolder;
    font-size: 50px;
}
.O {
    color: black;
    font: bolder;
    font-size: 50px;
}
.cellFormat{
    text-align: center;
}
.board{
    border: 10px solid black;
    border-style: solid;
    width: 500px;
    height: 500px;
}
.cellFormat{
    border: 5px solid black;
    width: 50px;
    height: 100px;
}
